AGENT__API_BASE_URL=http://localhost:5001
AGENT__ENROLLMENT_CODE=DEV-000000
AGENT__DEVICE_NAME=$(hostname)
AGENT__WATCH_PATHS=C:\\Certs;D:\\Imports
AGENT__QUEUE_PATH=%APPDATA%\\CertiWatch\\queue.json
